# El proyecto ya trae .env configurado para Docker + localhost.
# Solo copia si borraste .env:  copy .env.example .env

EXPO_PUBLIC_KEYCLOAK_URL=http://localhost:8081
EXPO_PUBLIC_KEYCLOAK_REALM=umbral-realm
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=umbral-player-mobile
EXPO_PUBLIC_KEYCLOAK_CLIENT_SECRET=

EXPO_PUBLIC_USER_API_URL=http://localhost:5200
EXPO_PUBLIC_MISSION_API_URL=http://localhost:5200
EXPO_PUBLIC_SESSION_API_URL=http://localhost:5200
